<form action="" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Upload image</legend>
        <label for="makkoto_name">Name</label>
        <input type="text" name="makkoto_name" id="makkoto_name">
        <label for="makkoto_file">Image</label>
        <input type="file" name="makkoto_file" id="makkoto_file">
        <label for="makkoto_upload">Upload</label>
        <input type="submit" name="makkoto_upload" id="makkoto_upload" value="Upload">
    </fieldset>
</form>
